In [2]:
# loading libraries 

import matplotlib as plt
import pandas as pd
import os
import pycountry
import string
from unidecode import unidecode
import category_encoders as ce

path = os.getcwd()

In [3]:
# loading the data

adm1 = pd.read_csv(path + "/data/final_gdelt_bycountry.txt")
full = pd.read_csv(path + '/data/merged.csv')

# Dropping columns before 2000
adm1.drop(adm1.loc[adm1['year']<2000].index, inplace=True)
full.drop(full.loc[full['year']<2000].index, inplace=True)

# Filling missing UCDP data with 0
full[["deaths","state_deaths","nonstate_deaths","onesided_deaths","civilian_deaths","avg_sources","conflict_counts",
     "conflict_freq","dyad_counts","dyad_freq"]] = full[["deaths","state_deaths","nonstate_deaths","onesided_deaths",
                                                         "civilian_deaths","avg_sources","conflict_counts",
                                                         "conflict_freq","dyad_counts","dyad_freq"]].fillna(0)

/Users/giovannachaves/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
adm1.sort_values(by=["isocode","year","month","ActionGeo_ADM1Code"]).head(10)

,ActionGeo_ADM1Code,isocode,year,month,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,count_events_20_opp,Actor1Code_count,Actor1CountryCode_count,Actor1KnownGroupCode_count,Actor1Type1Code_count,Actor2Code_count,Actor2CountryCode_count,Actor2KnownGroupCode_count,Actor2Type1Code_count,AvgGoldsteinScale
74,AA,ABW,2000,2,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
75,AA,ABW,2000,3,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
376,AA00,ABW,2000,4,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
76,AA,ABW,2000,6,0.0,0.0,0.0,2.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
377,AA00,ABW,2000,6,2.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
77,AA,ABW,2000,7,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
78,AA,ABW,2000,8,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
79,AA,ABW,2000,9,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
378,AA00,ABW,2000,9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,2.0,4.0,0.0,0.0,4.0,-3.5
80,AA,ABW,2000,10,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
full.head(10)

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,deaths,state_deaths,nonstate_deaths,onesided_deaths,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq
51091,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,54.0,54.0,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0
51092,200001,AGO,1,2000,712.0,232.0,462.0,1382.0,286.0,224.0,...,36.0,0.0,0.0,36.0,36.0,0.0,5.0,578.0,5.0,1045.0
51093,200001,AIA,1,2000,0.0,2.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51094,200001,ALB,1,2000,590.0,250.0,442.0,1498.0,326.0,52.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51095,200001,ARE,1,2000,108.0,26.0,64.0,522.0,50.0,32.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51096,200001,ARG,1,2000,290.0,132.0,282.0,1026.0,148.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51097,200001,ARM,1,2000,330.0,138.0,352.0,1042.0,224.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51098,200001,ASM,1,2000,2.0,0.0,4.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51099,200001,ATA,1,2000,14.0,0.0,4.0,50.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51100,200001,ATG,1,2000,0.0,4.0,0.0,20.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Calculating the number of regions for each country in each of the Month/Year periods

number_regions = adm1.groupby(["isocode", "year", "month"]).nunique()["ActionGeo_ADM1Code"].reset_index()
number_regions = number_regions.rename({"ActionGeo_ADM1Code": "num_regions"}, axis=1)
number_regions.head(10)

  isocode  year  month  num_regions
0     ABW  2000      2            1
1     ABW  2000      3            1
2     ABW  2000      4            1
3     ABW  2000      6            2
4     ABW  2000      7            1
5     ABW  2000      8            1
6     ABW  2000      9            2
7     ABW  2000     10            2
8     ABW  2000     11            1
9     ABW  2000     12            1

In [7]:
# Merging with the full dataset

full = pd.merge(full, number_regions, left_on=["isocode", "year", "month"], right_on = ["isocode", "year", "month"], 
                 how = "left")

full.head(10)

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,state_deaths,nonstate_deaths,onesided_deaths,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq,num_regions
0,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,54.0,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32
1,200001,AGO,1,2000,712.0,232.0,462.0,1382.0,286.0,224.0,...,0.0,0.0,36.0,36.0,0.0,5.0,578.0,5.0,1045.0,20
2,200001,AIA,1,2000,0.0,2.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,200001,ALB,1,2000,590.0,250.0,442.0,1498.0,326.0,52.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14
4,200001,ARE,1,2000,108.0,26.0,64.0,522.0,50.0,32.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
5,200001,ARG,1,2000,290.0,132.0,282.0,1026.0,148.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19
6,200001,ARM,1,2000,330.0,138.0,352.0,1042.0,224.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11
7,200001,ASM,1,2000,2.0,0.0,4.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
8,200001,ATA,1,2000,14.0,0.0,4.0,50.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9,200001,ATG,1,2000,0.0,4.0,0.0,20.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [8]:
# Dropping adm1 that does not have relevant events

adm1['fight'] = ((adm1['count_events_18'].fillna(0) > 0) | 
                        (adm1['count_events_19'].fillna(0) > 0) | 
                        (adm1['count_events_20'].fillna(0) > 0)).astype(int)

# The 'fight' column will contain 1 if there's a non-zero value in any of the columns, otherwise 0

adm1 = adm1[adm1['fight'] == 1]

# This will keep only the rows where 'fight' column is equal to 1

In [9]:
# Merging the adm1 dataframe with the full dataframe

adm_full = pd.merge(full, adm1[['ActionGeo_ADM1Code',"isocode", "month", "year"]], 
                               left_on=["isocode", "month", "year"], right_on = ["isocode", "month", "year"], 
                               how = "left")

adm_full.head(10)

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,nonstate_deaths,onesided_deaths,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq,num_regions,ActionGeo_ADM1Code
0,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF
1,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF01
2,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF02
3,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF05
4,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF08
5,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF09
6,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF11
7,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF13
8,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF18
9,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF23

In [10]:
# Target encoding the regions that have at least 1 event of type 18, 19 or 20

region_encoder = ce.TargetEncoder(smoothing = 1.0) 

# this can be done inside the loop if we want expanding window for the features

adm_full_train = adm_full[adm_full['year'] < 2014] # fix this once we establish the train years
adm_full_test = adm_full[adm_full['year'] > 2013] # fix this once we establish the train years

region_encoder.fit(adm_full_train['ActionGeo_ADM1Code'], adm_full_train['deaths'])

adm_full_train['ActionGeo_ADM1Code'] = region_encoder.transform(adm_full_train['ActionGeo_ADM1Code'], 
                                                               adm_full_train['deaths'])
adm_full_test['ActionGeo_ADM1Code'] = region_encoder.transform(adm_full_test['ActionGeo_ADM1Code'], 
                                                               adm_full_test['deaths'])

adm_full = pd.concat([adm_full_train, adm_full_test])
adm_full.head(10)

/Users/giovannachaves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/giovannachaves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,nonstate_deaths,onesided_deaths,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq,num_regions,ActionGeo_ADM1Code
0,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,397.726190
1,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,411.105590
2,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,429.355705
3,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,412.132911
4,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,411.778481
5,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,403.324675
6,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,397.726190
7,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,397.726190
8,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,399.854545
9,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,394.927711

In [11]:
# Getting the maximum, mean and median regions for each month/year and country

adm_full['Adm1_Max'] = adm_full.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('max')
adm_full['Adm1_Mean'] = adm_full.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('mean')
adm_full['Adm1_Median'] = adm_full.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('median')

full_adm = adm_full.drop_duplicates(['isocode', 'month', 'year']).drop(["ActionGeo_ADM1Code"], 
                                                                      axis=1)

In [12]:
full_adm.head(10)

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq,num_regions,Adm1_Max,Adm1_Mean,Adm1_Median
0,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,26.0,0.0,4.0,333.0,4.0,736.0,32,4.384643e+02,4.119820e+02,411.237508
20,200001,AGO,1,2000,712.0,232.0,462.0,1382.0,286.0,224.0,...,36.0,0.0,5.0,578.0,5.0,1045.0,20,6.804545e+01,3.698472e+01,36.358025
39,200001,AIA,1,2000,0.0,2.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1.489650e-02,1.489650e-02,0.014896
40,200001,ALB,1,2000,590.0,250.0,442.0,1498.0,326.0,52.0,...,0.0,0.0,0.0,0.0,0.0,0.0,14,5.579872e-10,6.678730e-11,0.000000
52,200001,ARE,1,2000,108.0,26.0,64.0,522.0,50.0,32.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8,2.500008e-02,1.574530e-02,0.015997
56,200001,ARG,1,2000,290.0,132.0,282.0,1026.0,148.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,19,3.340884e-05,5.306454e-06,0.000000
64,200001,ARM,1,2000,330.0,138.0,352.0,1042.0,224.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11,1.612903e-01,1.099137e-01,0.102564
69,200001,ASM,1,2000,2.0,0.0,4.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1.489650e-02,1.489650e-02,0.014896
70,200001,ATA,1,2000,14.0,0.0,4.0,50.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.000000e+00,0.000000e+00,0.000000
71,200001,ATG,1,2000,0.0,4.0,0.0,20.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.000000e+00,0.000000e+00,0.000000

In [13]:
# Creating a function for this:

import pandas as pd
import category_encoders as ce

def encode_adm(df, year_threshold):
    # Split the data into train and test based on the year threshold
    df_train = df[df['year'] < year_threshold]
    df_test = df[df['year'] >= year_threshold]

    # Target encoding the regions that have at least 1 event of type 18, 19, or 20
    region_encoder = ce.TargetEncoder(smoothing=1.0)
    region_encoder.fit(df_train['ActionGeo_ADM1Code'], df_train['deaths'])
    df_train['ActionGeo_ADM1Code'] = region_encoder.transform(df_train['ActionGeo_ADM1Code'], df_train['deaths'])
    df_test['ActionGeo_ADM1Code'] = region_encoder.transform(df_test['ActionGeo_ADM1Code'], df_test['deaths'])
    df = pd.concat([df_train, df_test])

    # Getting the maximum, mean, and median regions for each month/year and country
    df['Adm1_Max'] = df.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('max')
    df['Adm1_Mean'] = df.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('mean')
    df['Adm1_Median'] = df.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('median')

    df_transform = df.drop_duplicates(['isocode', 'month', 'year']).drop(["ActionGeo_ADM1Code"], axis=1)

    return df_transform