In [1]:
# loading libraries 

import matplotlib as plt
import pandas as pd
import os
import pycountry
import string
from unidecode import unidecode
import category_encoders as ce

path = "/Users/giovannachaves/Documents/BSE/Master's Thesis/thesis"

In [2]:
# loading the data

adm1 = pd.read_csv(path + "/data/final_gdelt_bycountry.txt")
full = pd.read_csv(path + "/data/merged.csv")

# Dropping columns before 2000
adm1.drop(adm1.loc[adm1['year']<2000].index, inplace=True)
full.drop(full.loc[full['year']<2000].index, inplace=True)

/Users/giovannachaves/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
adm1.sort_values(by=["isocode","year","month","ActionGeo_ADM1Code"]).tail(20)

,ActionGeo_ADM1Code,isocode,year,month,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,count_events_20_opp,Actor1Code_count,Actor1CountryCode_count,Actor1KnownGroupCode_count,Actor1Type1Code_count,Actor2Code_count,Actor2CountryCode_count,Actor2KnownGroupCode_count,Actor2Type1Code_count,AvgGoldsteinScale
1262721,ZI03,ZWE,2023,4,154.0,50.0,70.0,274.0,188.0,6.0,...,0.0,4.0,0.0,0.0,4.0,2.0,0.0,0.0,2.0,-6.000000
1263255,ZI04,ZWE,2023,4,1296.0,552.0,648.0,2518.0,874.0,216.0,...,0.0,62.0,8.0,0.0,52.0,90.0,40.0,0.0,60.0,-2.241869
1263669,ZI05,ZWE,2023,4,90.0,28.0,14.0,124.0,42.0,4.0,...,0.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,4.0,-1.000000
1264112,ZI06,ZWE,2023,4,222.0,118.0,184.0,928.0,176.0,34.0,...,0.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,2.0,7.400000
1264515,ZI07,ZWE,2023,4,60.0,18.0,32.0,124.0,64.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1264998,ZI08,ZWE,2023,4,320.0,156.0,134.0,486.0,180.0,84.0,...,0.0,2.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.000000
1265381,ZI09,ZWE,2023,4,48.0,36.0,12.0,126.0,22.0,16.0,...,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.500000
1265817,ZI10,ZWE,2023,4,174.0,74.0,24.0,200.0,78.0,8.0,...,0.0,16.0,2.0,0.0,14.0,8.0,8.0,2.0,6.0,-1.983073
1261013,ZI,ZWE,2023,5,418.0,222.0,232.0,714.0,318.0,80.0,...,0.0,14.0,4.0,0.0,12.0,6.0,2.0,0.0,6.0,4.168750
1261527,ZI00,ZWE,2023,5,136.0,54.0,50.0,250.0,86.0,38.0,...,0.0,10.0,4.0,0.0,6.0,4.0,4.0,0.0,0.0,0.000000
1261953,ZI01,ZWE,2023,5,32.0,8.0,0.0,26.0,28.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1262323,ZI02,ZWE,2023,5,10.0,2.0,0.0,16.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1262722,ZI03,ZWE,2023,5,30.0,8.0,8.0,22.0,12.0,4.0,...,0.0,2.0,0.0,0.0,2.0,2.0,2.0,0.0,0.0,6.500000
1263256,ZI04,ZWE,2023,5,716.0,330.0,234.0,1224.0,414.0,92.0,...,0.0,20.0,6.0,0.0,14.0,18.0,12.0,0.0,6.0,-7.049609
1263670,ZI05,ZWE,2023,5,26.0,20.0,10.0,94.0,14.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1264113,ZI06,ZWE,2023,5,80.0,20.0,52.0,172.0,110.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1264516,ZI07,ZWE,2023,5,16.0,4.0,10.0,12.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1264999,ZI08,ZWE,2023,5,82.0,28.0,4.0,180.0,76.0,24.0,...,0.0,4.0,0.0,0.0,4.0,4.0,2.0,0.0,4.0,-3.750000
1265382,ZI09,ZWE,2023,5,26.0,22.0,10.0,8.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1265818,ZI10,ZWE,2023,5,72.0,40.0,8.0,190.0,8.0,4.0,...,0.0,10.0,0.0,0.0,8.0,8.0,4.0,0.0,4.0,-5.875000

In [4]:
full.tail(10)

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,deaths,state_deaths,nonstate_deaths,onesided_deaths,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq
116293,202305,VGB,5,2023,8.0,14.0,4.0,22.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116294,202305,VIR,5,2023,78.0,60.0,60.0,96.0,50.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116295,202305,VNM,5,2023,2930.0,2370.0,2810.0,12602.0,4456.0,896.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116296,202305,VUT,5,2023,148.0,76.0,58.0,308.0,202.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116297,202305,WSM,5,2023,168.0,88.0,38.0,322.0,104.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116298,202305,XKX,5,2023,60.0,50.0,58.0,200.0,124.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116299,202305,YEM,5,2023,276.0,156.0,182.0,1364.0,362.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116300,202305,ZAF,5,2023,6568.0,2976.0,2874.0,10818.0,3262.0,1188.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116301,202305,ZMB,5,2023,386.0,264.0,176.0,724.0,374.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116302,202305,ZWE,5,2023,1644.0,758.0,618.0,2908.0,1078.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Calculating the number of regions for each country in each of the Month/Year periods

number_regions = adm1.groupby(["isocode", "year", "month"]).nunique()["ActionGeo_ADM1Code"].reset_index()
number_regions = number_regions.rename({"ActionGeo_ADM1Code": "num_regions"}, axis=1)
number_regions.head(10)

  isocode  year  month  num_regions
0     ABW  2000      2            1
1     ABW  2000      3            1
2     ABW  2000      4            1
3     ABW  2000      6            2
4     ABW  2000      7            1
5     ABW  2000      8            1
6     ABW  2000      9            2
7     ABW  2000     10            2
8     ABW  2000     11            1
9     ABW  2000     12            1

In [6]:
# Merging with the full dataset

full = pd.merge(full, number_regions, left_on=["isocode", "year", "month"], right_on = ["isocode", "year", "month"], 
                 how = "left")

full.head(10)

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,state_deaths,nonstate_deaths,onesided_deaths,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq,num_regions
0,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,54.0,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32
1,200001,AGO,1,2000,712.0,232.0,462.0,1382.0,286.0,224.0,...,0.0,0.0,36.0,36.0,0.0,5.0,578.0,5.0,1045.0,20
2,200001,AIA,1,2000,0.0,2.0,6.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,200001,ALB,1,2000,590.0,250.0,442.0,1498.0,326.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
4,200001,ARE,1,2000,108.0,26.0,64.0,522.0,50.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
5,200001,ARG,1,2000,290.0,132.0,282.0,1026.0,148.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
6,200001,ARM,1,2000,330.0,138.0,352.0,1042.0,224.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
7,200001,ASM,1,2000,2.0,0.0,4.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8,200001,ATA,1,2000,14.0,0.0,4.0,50.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
9,200001,ATG,1,2000,0.0,4.0,0.0,20.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [11]:
# Dropping adm1 that does not have relevant events

adm1['fight'] = ((adm1['count_events_18'].fillna(0) > 0) | 
                        (adm1['count_events_19'].fillna(0) > 0) | 
                        (adm1['count_events_20'].fillna(0) > 0)).astype(int)

# The 'fight' column will contain 1 if there's a non-zero value in any of the columns, otherwise 0

adm1 = adm1[adm1['fight'] == 1]

# This will keep only the rows where 'fight' column is equal to 1

In [12]:
# Merging the adm1 dataframe with the full dataframe

adm_full = pd.merge(full, adm1[['ActionGeo_ADM1Code',"isocode", "month", "year"]], 
                               left_on=["isocode", "month", "year"], right_on = ["isocode", "month", "year"], 
                               how = "left")

adm_full.head(10)

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,nonstate_deaths,onesided_deaths,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq,num_regions,ActionGeo_ADM1Code
0,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF
1,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF01
2,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF02
3,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF05
4,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF08
5,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF09
6,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF11
7,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF13
8,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF18
9,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,0.0,0.0,26.0,0.0,4.0,333.0,4.0,736.0,32,AF23

In [13]:
# Target encoding the regions that have at least 1 event of type 18, 19 or 20

region_encoder = ce.TargetEncoder(smoothing = 1.0)

region_encoder.fit(adm_full['ActionGeo_ADM1Code'], adm_full['deaths'])

adm_full['ActionGeo_ADM1Code'] = region_encoder.transform(adm_full['ActionGeo_ADM1Code'], 
                                                               adm_full['deaths'])

In [14]:
# Getting the maximum, mean and median regions for each month/year and country

adm_full['Adm1_Max'] = adm_full.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('max')
adm_full['Adm1_Mean'] = adm_full.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('mean')
adm_full['Adm1_Median'] = adm_full.groupby(['isocode', 'month', 'year'])['ActionGeo_ADM1Code'].transform('median')

full_adm = adm_full.drop_duplicates(['isocode', 'month', 'year']).drop(["ActionGeo_ADM1Code"], 
                                                                      axis=1)

In [15]:
full_adm.head(10)

,MonthYear,isocode,month,year,count_events_1,count_events_2,count_events_3,count_events_4,count_events_5,count_events_6,...,civilian_deaths,avg_sources,conflict_counts,conflict_freq,dyad_counts,dyad_freq,num_regions,Adm1_Max,Adm1_Mean,Adm1_Median
0,200001,AFG,1,2000,600.0,238.0,380.0,1812.0,470.0,106.0,...,26.0,0.0,4.0,333.0,4.0,736.0,32,942.020243,893.697226,892.832528
20,200001,AGO,1,2000,712.0,232.0,462.0,1382.0,286.0,224.0,...,36.0,0.0,5.0,578.0,5.0,1045.0,20,81.837842,40.284317,37.902439
39,200001,AIA,1,2000,0.0,2.0,6.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,175.316332,175.316332,175.316332
40,200001,ALB,1,2000,590.0,250.0,442.0,1498.0,326.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,NaN,NaN
52,200001,ARE,1,2000,108.0,26.0,64.0,522.0,50.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8,175.316338,175.316338,175.316338
56,200001,ARG,1,2000,290.0,132.0,282.0,1026.0,148.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN
64,200001,ARM,1,2000,330.0,138.0,352.0,1042.0,224.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,11,167.130137,40.100926,3.438106
69,200001,ASM,1,2000,2.0,0.0,4.0,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,175.316332,175.316332,175.316332
70,200001,ATA,1,2000,14.0,0.0,4.0,50.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
71,200001,ATG,1,2000,0.0,4.0,0.0,20.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN

In [ ]:
# To-do: split into train and test by a specific year and only target encode before that year.